feeds:
  - id: so-sonarqube
    url: http://stackoverflow.com/feeds/tag?tagnames=sonarqube&sort=newest
  - id: gg-sonarqube
    url: https://groups.google.com/forum/feed/sonarqube/msgs/rss.xml?num=15
  - id: testing
    url: http://localhost/feeds/testing.xml
detectors:
  - SameBodyDetector
  - SimilarWordCountDetector
